{% extends '_admin_template.html.twig' %}

{% block title %}

Nouvelle catégorie

{% endblock %}

{% block content %}
  <div class="section">
        <h1 class="title">Nouvelle Catégorie</h1>


    </div>


{% endblock %}